@model Ultra.Dal.Entities.UltraConfiguration

@{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head
{
	@*<script type="text/javascript" src="~/static/js/load-run.js"></script>
	<link type="text/css" rel="stylesheet" href="../../static/css/runs-history.css">*@
}

<h2>Server Configuration</h2>

<div class="row">
	<div class="label">Servers:</div>
	<div class="input"><input class="large" type="text" id="servers" value="@Model.Servers"></div>
</div>
<div class="row">
	<div class="label">JMeter batch file:</div>
	<div class="input"><input class="large" type="text" id="jMeterBatFile" value="@Model.JMeterBatFile"/></div>
</div>
<div class="row">
	<div class="label">Jmx scripts directory:</div>
	<div class="input"><input class="large" type="text" id="jmxScripts" value="@Model.JmxScripts"/></div>
</div>
<div class="row">
	<div class="label">Jmx file archive:</div>
	<div class="input"><input class="large" type="text" id="jmxFileArchive" value="@Model.JmxFileArchive"/></div>
</div>
<div class="row">
	<div class="label">Output archive:</div>
	<div class="input"><input class="large" type="text" id="outputArchive" value="@Model.OutputArchive"/></div>
</div>

<h2>Default run settings</h2>

<div class="row">
	<div class="label">Domain:</div>
	<div class="input"><input class="large" type="text" id="defaultDomain" value="@Model.DefaultSettings.Domain"/></div>
</div>
<div class="row">
	<div class="label">Duration:</div>
	<div class="input"><input class="small" type="text" id="defaultDuration" value="@Model.DefaultSettings.Duration"/> sec</div>
</div>
<div class="row">
	<div class="label">Rampup:</div>
	<div class="input"><input class="small" type="text" id="defaultRampup" value="@Model.DefaultSettings.RampUp"/> sec</div>
</div>

<div class="row actions">
	<input type="button" id="save-config" class="btn btn_primary" value="Save"/>
</div>